body {
    font-family: 'Short Stack', cursive;
    background-color: #8dced2;
    padding: 40px;
    color: #482d38;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #75b9c7;
  color: black;
}

.previous {
  background-color: #527eae;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}
.dark-mode {
  background-color: black;
  color: white;
}